html {
    height: 100%;
}

body {
    background: #191414;
    background-position: center;
    background-image: url('/images/homepage_themes/aurora.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

header {
    text-align: center;
    margin: 2rem;
}

#spotifyLogo {
    width: 3.5rem;
    vertical-align: middle;
    margin: 0 5px 5px 0;
}

h1 {
    color: #1DB954;
    font-size: 4rem;
    text-shadow: 2px 2px 50px #DFFDFF;
}

input {
    padding: 5px;
    border-radius: 30px;
}

#artistName{
    text-align: center;
    width: 55%;
}

#submitBtn {
    font-weight: bold;
    background-color: rgb(172, 165, 165);
    width: 28%;
    color: white;
}

#submitBtn:hover {
    background-color: #1DB954;
}


#discography {
    color: #1DB954;
    min-width: 150px;
    margin: auto;
    padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.album {
    text-align: center;
}

img {
    max-width: 100%;
    align-self: center;
}

p {
    font-weight: bold;
    font-size: 2rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    width: 72%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modalBody {
    color: white;
    background-image: url(/images/spotify_background.png);
    background-size: 100%;
    text-align: center;
    padding: 10px;
    max-height: 80vh;
    overflow: auto;
}

#modalImg {
    width: 125px;
    margin: 10px 10px 0 10px;
    border: 2px solid goldenrod
}

#modalAlbumName {
    margin: 5px;
    text-shadow: 5px 5px 15px goldenrod;
}

#tracklist {
    padding: 2px;
    margin: 0;
    display: inline-block;
    text-align: left;
    text-shadow: 3px 3px 15px goldenrod;
    width: 75%;
}

li {
    font-size: 2.5vh;
    }

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 185, 84, 0.7);
    pointer-events: none;
    
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* max-width affects screens of at 540px or lower */
@media only screen and (max-width: 540px) {
    #spotifyLogo {
        width: 1.5rem;
    }
    
    h1 {
        color: #1DB954;
        font-size: 1.7rem;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    p {
        font-size: 1.5rem;
    }

    li {
        font-size: 2vh;
    }

}

@media only screen and (min-width: 540px) {
    input {
        height: 50px;
        font-size: 1.2rem;
    }

    #artistName {
        height: 36px
    }
}