body {
    background: #191414;
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
    padding: 0;
}

header {
    text-align: center;
    margin: 2rem;
}

#spotifyLogo {
    width: 3.5rem;
    vertical-align: middle;
    margin: 0 5px 5px 0;
}

h1 {
    color: #1DB954;
    font-size: 4rem;

}

input {
    padding: 5px;
    border-radius: 30px;
    color: white;
}

#artistName{
    text-align: center;
    width: 55%;
}

#submitBtn {
    font-weight: bold;
    background-color: rgb(173, 172, 172);
    width: 28%;
}

#discography {
    color: #1DB954;
    min-width: 150px;
    margin: auto;
    border: 1px solid olive;
    padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.album {
    text-align: center;
}

img {
    max-width: 100%;
    align-self: center;
}

p {
    font-weight: bold;
}

/* iPhone XR screen width 414px */
/* Surface Duo 520px */
/* max-width affects screens of at 844px or lower */
/* min-width affects screens of at 844px or larger */
@media only screen and (max-width: 540px) {
    #spotifyLogo {
        width: 1.5rem;
    }
    
    h1 {
        color: #1DB954;
        font-size: 1.7rem;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

/* 768 */
@media only screen and (min-width: 540px) {
    input {
        height: 50px;
        font-size: 1.2rem;
    }

    #artistName {
        height: 36px
    }
}